body {
	background-image: linear-gradient(#ffffff, #618688);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#root {
	height: 100%;
}

.App {
	text-align:center;
	margin-top: 3vw;
	margin-bottom: 3vw;
	height: 100%;
}

.MainRow {
	height: 100%;
}

.Weather {
	box-shadow: 8px 15px 60px 5px rgba(0, 0, 0, .3);
	padding: 2%;
	height: 100%;
	background-image: linear-gradient(rgb(62, 72, 88), #466364);
	background-repeat: no-repeat;
    background-attachment: fixed;
	border-radius: .75em;
	color: rgb(255, 255, 255);
}

.Forecast {
	box-shadow: 8px 15px 60px 5px rgba(0, 0, 0, .3);
	padding: 2%;
	height: 100%;
	background-image: linear-gradient(rgb(62, 72, 88), #466364);
	background-repeat: no-repeat;
    background-attachment: fixed;
	border-radius: .75em;
	color: white;
}

.Form input[type=text] {
	width: 80%;
    padding: 12px 20px;
	margin: 8px 0;
	background-color: rgb(0, 0, 0, 0);
    box-sizing: border-box;
	border: none;
	color: rgb(255, 255, 255);
	font-size: 220%;
    border-bottom: 2px solid red;
}

.Form .button {
	background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
	padding: .5em;
	width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.Form .button:hover {
    background-color: rgb(255, 255, 255, .8);
    color: rgb(0, 0, 0);
}

.WeatherInfo,
.ForecastInfo {
	list-style: none;
	margin-top: 4vw;
	text-align:left;
	height: 100%;

}

.WeatherInfo li {
	margin: 0 0 1.2vw 0;
	font-size: 130%;
}

.grey {
	color: rgb(196, 196, 196);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
